/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    label{
        width: 350px;
        word-wrap: break-word;
        padding-right: 10px;
        padding-left: 5px;
        text-align: left;
        
    }
    .task-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        max-width: 300px;
        border:1px solid red;
      }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    /* estilos aqui */
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
}

/* Desktop grande */
@media (min-width: 1200px) {
   /* estilos aqui */
}